footer.footer
    .container
        .wrap__content-flex
            ul.footer__list
                li.footer__item #{jsonData.footer__link1}
                li.footer__item #{jsonData.footer__link2}
                    a.footer__link #{jsonData.footer__link3}
                li.footer__item  #{jsonData.footer__link4}
            a.footer_privacy(href="https://shkolaneo.ru/cms/system/legal" )
                | Согласие на обработкуличных данных

