@keyframes animation-bg {
    0% {
        background-image: url(./../img/header/bg2.jpg);
        color: #f5dd01;
    }
    25% {
        background-image: url(./../img/header/bg3.jpg);
        color: #f76606;
    }
    50% {
        background-image: url(./../img/header/bg4.jpg);
        color: #f7f306;
    }
    75% {
        background-image: url(./../img/header/bg5.jpg);
        color: #f76606;
    }
    100% {
        background-image: url(./../img/header/bg2.jpg);
        color:  #e5f501;;
    }
}
@keyframes blur {
    from {
      text-shadow:0px 0px 10px rgb(253, 5, 5),
        0px 0px 25px rgb(253, 5, 5),
        0px 0px 25px rgb(51, 5, 253),
        0px 0px 50px rgb(253, 5, 5),
        0px 0px 50px rgb(253, 146, 5),
        0px 0px 75px  rgb(253, 146, 5),
        0px 10px 100px  rgb(253, 216, 5),
        0px 10px 100px  rgb(253, 249, 5),
        0px 10px 100px  rgb(104, 253, 5),
        0px 10px 100px  rgb(46, 253, 5),
        0px -10px 100px rgb(5, 195, 253),
        0px -10px 100px rgb(30, 5, 253),
        0px 0px 25px rgb(253, 5, 5),
        0px 0px 25px rgb(51, 5, 253),
        0px 0px 50px rgb(253, 5, 5);
    }
  }
  @keyframes btn-animation{
    0%{
        border-radius: 50% 0px 50% 0px;
    }
    50%{
        border-radius: 0px 50% 0px 50% ;
    }
    100%{
        border-radius: 50% 0px 50% 0px;
    }
    
  }
  @keyframes quote{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
    
  }
  @keyframes section__quote{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%, -50%) rotate(45deg);
    }
    50%{
        transform: translate(-50%, -50%) rotate(90deg);
    }
    75%{
        transform: translate(-50%, -50%) rotate(135deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(180deg);

    }
   
  }
  @keyframes metn_opacyti{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;

    }
  }
