.header,
section {
    padding: 100px 0;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
    height: 100%;
}

.btn {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 15px 25px;
    align-items: center;
    color: $fontsColor;
    font-size: 22px;
    font-weight: 700;
    background-color: #4e0eaa;
    ;
    border: 2px solid $fontsColor;
    animation: btn-animation 10s linear infinite;
}

.content {
    font-size: 28px;
    font-family: $fonts;
    font-weight: 500;
}

.section__title {
    font-size: 30px;
    text-align: center;
    color: #4e0eaa;
    text-transform: uppercase;
    @media (min-width: 620px) {
        font-size: 50px;
    }

    @media (min-width: 768px) {
        font-size: 60px;
    }

}

.wrap__content-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 620px) {
        flex-direction: row;
    }

    @media (min-width: 768px) {
        flex-direction: wrap;
    }

}

p {
    text-align: left;
}