.cocon{
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(./../img/sect5/flower.svg);
        z-index: -1;
        opacity: .3;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #EEEBF0;
        background: -webkit-radial-gradient(center, #EEEBF0, #F50E8B);
        background: -moz-radial-gradient(center, #EEEBF0, #F50E8B);
        background: radial-gradient(ellipse at center, #EEEBF0, #F50E8B);
        opacity: .6;
        z-index: -1;
    }
    h2{
        margin-bottom: 50px;
    }
}