.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $colorbg;
    background-image: url(./../img/header/bg2.jpg);
    animation: animation-bg 30s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(238, 235, 240, .5);
        opacity: .6;
        z-index: -1;
    }
}
.wrap_header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    @media (min-width: 620px){
        transform: translate(-50%, -50%);
    }
    @media (min-width: 768px){
        transform: translate(-50%, -31%);
    }
    @media (min-width: 800px){
        transform: translate(-50%, -50%);
    }
    @media (min-width: 1200px){
        transform: translate(-50%, -41%);
    }

}
.fh{  
    font-size: 35px;
    font-family: $fonts;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    animation: blur 20s ease-out infinite;
    @media (min-width: 768px){
        font-size: 66px;
        
    }
    @media (min-width: 800px){
        font-size: 50px;
    }
    @media (min-width: 1200px){
        font-size: 90px;
        
    }
}
.subtitle{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
.header__btn{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    &:hover{
        .btn{
            color: #4e0eaa;;
            // color: rgba(253, 146, 5, 1);
            font-size: 22px;
            font-weight: 700;
            background-color: $fontsColor;
            border: 2px solid #4e0eaa;;
            transition: .7s;
        }
    }
}
