.price,
.mentor {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url(./../img/sect1/mn.svg);
        background-size: contain;
        background-position: center;
        animation: metn_opacyti 10s linear infinite;
        z-index: -1;
        opacity: .3;
    }

}

.mentor__padding {
    padding-top: 100px;
}

.mentor__img {
    margin-right: 200px;
    width: 300px;
    
    height: auto;
    border-radius: 10px;
    border: 5px solid #4e0eaa;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}

.mentor__content {
    h3 {
        font-size: 40px;
    }
}

.mentor__item {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}