.quote {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        z-index: -1;
        border-radius: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
        ;
        animation: section__quote 10s linear infinite;
        border: 5px solid #b306f7;
        opacity: .3;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        z-index: -1;
        border-radius: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
        animation: section__quote 30s linear infinite;
        border: 5px solid #f706c3;
        opacity: .3;
    }
}

.wrap_quote {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px;
    width: 100%;
    height: auto;
}

.quote__content {
    text-align: center;
    color: #4e0eaa;
    animation: quote 10s linear 1;
}