<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title #{jsonData.siteTitle}
    body

        header.header
            each item in nav
                a(href= item.link).header__link #{item.title}


        .content #{jsonData.mainContent}

        footer.footer #{jsonData.footerContent}
