@import "./blocks/_null.scss";
@import "./blocks/_varibal.scss";
@import "./blocks/_base.scss";
@import "./blocks/_animat.scss";
@import "./blocks/_header.scss";
@import "./blocks/_quote.scss";
@import "./blocks/_mentor.scss";
@import "./blocks/_aura.scss";
@import "./blocks/_cocon.scss";
@import "./blocks/_price.scss";
@import "./blocks/__reviews.scss";
